// == Mobile styles
#banner {
  background-image: url(../../assets/img/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-color: $dark-violet;
  text-align: center;
  margin: 80px 25px auto;
  padding: 60px 0;

  h2 {
    font-size: 2.5em;
    color: $very-light-gray;
  }

  button {
    color: $very-light-gray;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {
      color: $dark-violet;
      background-color: $very-light-gray;
    }
  }
}

// == Large tablets
@media screen and (min-width: $larger-tablets) {
  #banner {
    max-width: 1200px;
    margin: 0 45px auto;
    background-image: url(../../assets/img/bg-pattern-how-we-work-desktop.svg);

    button {
      margin: 0;
      padding: 5px 25px;
      height: 3em;
    }
  }

  .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 0 45px auto;

    h2 {
      font-size: 2em;
      width: 51%;
    }
  }
}

// == Desktop styles
@media screen and (min-width: $desktop-styles) {
  #banner {
    margin: 0 auto;
  }
}
