// Mobile styles
#footer {
  background: $very-light-gray;
  margin-top: 100px;
  padding: 80px 0;
}

.footer {
  margin: 0 25px;
  grid-column: 1/9;
  .logo {
    margin: 0 auto;
    width: 8em;
  }
  &-social {
    display: flex;
    justify-content: center;
    padding: 40px 0 30px 0;
    border-bottom: 1px solid $grayish-blue;

    li {
      margin: 0 10px;
    }
  }

  &-link {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    letter-spacing: 2px;

    h4 {
      color: $grayish-blue;
      font-size: 1em;
    }

    li {
      line-height: 1.8em;
      color: $dark-violet;
      font-weight: bolder;
    }
  }
}
