// == Mobile styles
#main {
  text-align: center;

  .svg {
    position: absolute;
    right: 0;
    margin-top: -140px;
  }

  .border {
    grid-column: 3/7;
    margin-top: 8em;
    border-bottom: 1px solid $grayish-blue;
  }

  h2 {
    grid-column: 1/9;
    font-size: 2.5em;
  }
}

.main-container {
  grid-column: 1/9;
  text-align: center;

  img {
    margin: 0 auto;
    max-width: 20%;
  }

  h3 {
    margin: 30px 0 20px 0;
    font-size: 1.6em;
  }

  p {
    color: $dark-grayish-violet;
    line-height: 1.5em;
    margin: 0 25px auto;
  }
}

.main-text {
  padding: 30px 0;
}

.pattern-desktop-left {
  display: none;
}

// == MEDIA QUERIES
// Small tablet styles => 620px
@media screen and (min-width: $little-tablets) {
  #main {
    .svg {
      width: 25%;
    }
    h2 {
      font-size: 3em;
    }
  }

  .main-text {
    img {
      width: 18%;
    }

    h3 {
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      margin: 0 50px auto;
    }
  }
}

// == Large tablets
@media screen and (min-width: $larger-tablets) {
  #main {
    margin-top: 30px;
    padding: 10em 0 3em 0;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      text-align: left;
      margin-left: 45px;
      font-size: 2.5em;

      &::before {
        content: "";
        display: block;
        height: 1px;
        background: purple;
        width: 11%;
        position: relative;
        top: -0.7em;
      }
    }

    .svg,
    .border {
      display: none;
    }
  }

  .pattern-desktop-left {
    display: block;
    position: absolute;
    width: 12%;
    top: 28em;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 45px auto;
  }

  .main-text {
    text-align: left;
    margin-right: 15px;
    padding: 30px 0;

    img {
      margin: 0;
      width: 25%;
      max-width: 30%;
    }

    h3 {
      font-size: 1.3em;
    }

    p {
      margin: 0;
      font-size: 1em;
    }
  }
}

// == Desktop styles
@media screen and (min-width: $desktop-styles) {
  #main {
    padding: 17em 0 10em 0;
  }

  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 45px;
  }

  .pattern-desktop-left {
    top: 30em;
  }
}
