// == Mobile styles
#main {
  margin-top: -140px;
  text-align: center;

  .svg {
    grid-column: 6/9;
    margin-bottom: -120px;
  }

  .border {
    grid-column: 3/7;
    margin-top: 40px;
    border-bottom: 1px solid $grayish-blue;
  }

  h2 {
    grid-column: 1/9;
    font-size: 2.5em;
    // border-top: 1px solid $dark-violet;
  }
}

.main-text {
  grid-column: 1/9;

  img {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 20%;
  }

  h3 {
    margin: 30px 0 20px 0;
    font-size: 1.6em;
  }

  p {
    color: $dark-grayish-violet;
    line-height: 1.5em;
    margin: 0 25px auto;
  }
}
