// == Mobile styles
#main {
  text-align: center;

  .svg {
    position: absolute;
    right: 0;
    margin-top: -140px;
  }

  .border {
    grid-column: 3/7;
    margin-top: 8em;
    border-bottom: 1px solid $grayish-blue;
  }

  h2 {
    grid-column: 1/9;
    font-size: 2.5em;
  }
}

.main-text {
  grid-column: 1/9;

  img {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 20%;
  }

  h3 {
    margin: 30px 0 20px 0;
    font-size: 1.6em;
  }

  p {
    color: $dark-grayish-violet;
    line-height: 1.5em;
    margin: 0 25px auto;
  }
}

// == MEDIA QUERIES
// Small tablet styles => 620px
@media screen and (min-width: $little-tablets) {
  #main {
    .svg {
      width: 25%;
    }
    h2 {
      font-size: 3em;
    }
  }

  .main-text {
    img {
      width: 18%;
    }

    h3 {
      font-size: 1.8em;
    }

    p {
      font-size: 1.2em;
      margin: 0 50px auto;
    }
  }
}

// == Large tablets
@media screen and (min-width: $larger-tablets) {
  #main {
    margin-top: 30px;
    .svg {
      display: none;
    }
  }
}
