// == Mobile styles
nav {
  background: white;
  position: fixed;
  padding: 15px 20px;
  z-index: 1;
}

.navbar {
  // margin: 15px 20px;
  &-menu,
  &-link {
    display: none;
  }
}

.logo {
  align-self: center;
  grid-column: 1/2;
  width: 7em;
}

// Burger button
.menuIcon {
  display: flex;
  grid-column: 9;
  align-self: center;
}

.menu {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 3.9em;
  width: 100%;
  height: 100vh;
  background: $dark-violet;

  li {
    color: $very-light-gray;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
  }

  li:nth-child(4) {
    border: 1px solid $very-light-gray;
    margin: 0 20px auto;
    padding: 20px;
  }

  span {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

// Large tablets & laptop styles => 960px
@media screen and (min-width: $larger-tablets) {
  nav {
    position: initial;
    max-width: 1440px;
    margin: 0 auto;
  }

  .menuIcon {
    display: none;
  }

  .navbar {
    padding: 20px 30px;

    &-link {
      display: flex;
      grid-column: 4/9;
      justify-content: flex-end;
      align-items: center;
      color: $grayish-blue;
      font-size: 0.8em;
      font-weight: bold;
      letter-spacing: 2px;

      li {
        text-transform: uppercase;
        margin-left: 20px;
      }

      li:last-child {
        border: 1px solid $dark-violet;
        color: $dark-violet;
        padding: 10px 20px;
      }
    }
  }
}

// Large tablets & laptop styles => 960px
@media screen and (min-width: $desktop-styles) {
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;

    &-link {
      li {
        margin-left: 25px;
      }
    }
  }
}
