// == Mobile styles
#welcome {
  overflow-x: hidden;
  background-color: $dark-violet;
  color: $very-light-gray;
}
.welcome-container {
  grid-column: 1/9;
}

.welcome-mobile {
  grid-column: 1/9;
}

.welcome-desktop {
  display: none;
}

.welcome-pattern-left {
  position: absolute;
  width: 44%;
}

.welcome-text {
  padding: 92px 25px 115px 25px;
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  position: relative;

  &-title {
    font-size: 2.9em;
    line-height: 1em;
    margin-bottom: 35px;
  }

  &-paragraph {
    font-size: 1.1em;
    line-height: 1.9em;
    padding-bottom: 40px;
  }

  &-button {
    margin: 0 auto;
  }
}
.pattern-desktop-right {
  display: none;
}

// == MEDIA QUERIES
// Small tablet styles => 620px
@media screen and (min-width: $little-tablets) {
  .welcome-text {
    padding: 110px 25px 115px 25px;

    &-title {
      font-size: 3.5em;
      margin-bottom: 45px;
    }
  }
}

// Large tablets & laptop styles => 960px
@media screen and (min-width: $larger-tablets) {
  .welcome-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }

  .welcome-mobile {
    display: none;
  }

  .welcome-text {
    // grid-column: 1/4;
    width: 55%;
    margin: 10px 0;
    text-align: left;

    &::before {
      content: "";
      display: block;
      height: 1px;
      background: white;
      width: 20%;
      position: absolute;
      top: 4em;
    }

    &-title {
      font-size: 2.5em;
      width: 7em;
    }

    &-paragraph {
      font-size: 0.9em;
    }

    &-button {
      padding: 10px 30px;
      margin: 0;
    }
  }

  .welcome-desktop {
    display: block;
    position: absolute;
    top: 10em;
    width: 38%;
    right: 2em;
  }

  .pattern-desktop-right {
    display: block;
    width: 27%;
    z-index: 1;
  }
}

// Desktop styles => 1200px
@media screen and (min-width: $desktop-styles) {
  .welcome-container {
    max-width: 1200px;
  }

  .welcome-text {
    padding-left: 40px;

    &-title {
      font-size: 3.5em;
    }

    &-paragraph {
      width: 91%;
    }
  }

  .welcome-desktop {
    width: 28em;
    top: 8em;
    right: 9em;
  }

  .pattern-desktop-right {
    width: 25%;
  }
}
